<main class="m-3 max" 
  {{did-update (fn this.reset this.timeout) @rows}} 
  {{did-update (fn this.reset this.timeout) @word}}>
  <div class="d-flex mb-3 align-items-center">
    <button id="run" type="button" class="btn btn-primary" {{on "click" this.run}}>Run</button>
    {{!-- template-lint-disable require-input-label --}}
    <Input @type="range" min="50" max="500" @value={{this.timeout}} class="ms-3"/>
  </div>
  <table>
    <tbody id="zigzag">
    {{#each this.matrix as |row|}}
    <tr>
      {{#each row as |col|}}
      <td class="p-4 zigzag-td mono {{if col 'char'}}">{{col}}</td>
      {{/each}}
    </tr>
    {{/each}}
    </tbody>
  </table>
  <div id="output" class="mt-3 fs-3 fw-bold">{{this.output}}</div>
</main>