{{page-title "Count Islands"}}
<form class="m-3">
  <h5 class="mono">Grid Size</h5>
  <div>
    <label for="rows" class="mono">Rows</label>
    <Input class="ms-1" @value={{this.rows}} id="rows" min="0" max="8" @type="number"/>
  </div>
  <div class="mt-2">
    <label for="cols" class="mono">Cols</label>
    <Input class="ms-1" @value={{this.cols}} id="cols" min="0" max="8" @type="number"/>
  </div>
</form>

<IslandGrid @rows={{this.rows}} @cols={{this.cols}} />